{% extends "base.twig" %}

{% block head %}
    <script type="text/javascript" src="{{site.theme.link}}/js/chocolat.js"></script>
    <link rel="stylesheet" href="{{site.theme.link}}/css/chocolat.css" type="text/css" media="screen" charset="utf-8">
{% endblock %}

{% block content %}
    <a class="back" href="{{ post.parent.link }}"><svg class="icon icon-chevron-left animated"><use xlink:href="#icon-chevron-left"></use></svg></a>
    <div class="container-fluid loc-container">
        <h2 class="loc-title">{{ post.title }}</h2>
        <div class="loc-info">{{ post.get_field('description') }}</div>
        <div class="masonry chocolat-parent">
            {% for image in post.get_field('gallery') %}
                <div class="item" data-chocolat-title="{{TimberImage(image).caption}}">
                    <a class="chocolat-image" href="{{TimberImage(image).src}}" title="{{TimberImage(image).caption}}">
                        <img src="{{TimberImage(image).src}}" alt="{{TimberImage(image).alt}}" />
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}

{% block end %}
    <script>
        $(document).ready(function(){
            $('.chocolat-parent').Chocolat();
        });
    </script>
{% endblock %}