{% extends "base.twig" %}

{% block content %}
    <div class="container">
        <h2 class="loc-title">{{ post.title }}</h2>  
    </div>
    <div class="container-fluid loc-container">
        {% if post.get_children(['page']) %}
        <div class="locations">
            {% for child in post.get_children(['page']) %}
                <a href="{{ child.link }}">
                    <div class="loc-item">
                        <h2>{{ child.title }}</h2>
                        <img src="{{ child.thumbnail.src }}" alt="{{ child.thumbnail.alt }}">
                    </div>
                </a>
            {% endfor %}
        </div>
        {% endif %}
    </div>
{% endblock content %}