{% extends "base.twig" %}

{% block body %}
    <body class="{{body_class}} static map-body" data-template="base.twig">
{% endblock %}

{% block nav %}
    <nav class="navbar navbar-fixed-top map-nav" role="navigation">
{% endblock %}

{% block content %}
    <div class="map">
        <img class="fullscreen-map" src="{{site.theme.link}}/images/europe3.svg" alt="Europe Map">
        <ul class="locations">
        {% for location in locations.get_children(['page']) %}
            <li class="location"><a class="{{location.post_name|lower}}" href="{{location.link}}" data-toggle="tooltip" data-placement="top" title="{{location.title}}"></a></li>
        {% endfor %}
        </ul>
    </div>
    <script>
        $(document).ready(function(){
            $('[data-toggle="tooltip"]').tooltip(); 
        });
    </script>
{% endblock content %}

{% block footer %}
    
{% endblock footer %}